.App {
  text-align: center;
}

.Login{
  background-image: url("./components/assets/imgs/fondo4.jpg");
  align-items: center;
  background-size: cover;
  height: max-content;
  
}

.Fondo-Login{
  background-color: rgba(17, 17, 17, 0.719);
  align-items: center;
  justify-items: center;
  height: 100%;
  height: 100%;
  padding-bottom: 10rem;
}

@media (max-width: 764px) {
  .Login{
      background-image: none;
      background-color: black;
  }
  .Fondo-Login{
    background-color: black;
    padding-bottom: 1rem;
  }
}
