.style{
    background-color: rgba(0, 0, 0, 0.829);
    padding: 2rem;
    height: 40rem;
    margin-top: 10rem;
    font-family:'Times New Roman', Times, serif;
}

@media (max-width: 764px) {
    .style{
        background-color: black;
        margin-top: 4rem;
    }
  }